* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3rem;
}

.marginbottom {
    margin-bottom: 30px;
}

h2 {
    overflow-x: hidden;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 0px;
    text-align: center;
}

h3 {
    font-size: 1rem;
    margin-top: 10%;
}

h4 {
    color: #333;
    text-align: center;
    margin: 0%;
    font-size: 60px;
    margin-top: 45px;
    margin-bottom: 20px;
}

h5 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    list-style: none;
    text-decoration: none;
}

p {
    overflow-x: hidden;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 1 rem;
    justify-content: center;
    padding: 70px;

}

body {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

footer {

    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor_contactanos_form {
    width: 100%;
    max-width: 1110px;
    margin: auto;
    padding: 7px;
    display: grid;

}

.contactanos {
    color: #333;
    text-align: center;
    margin: 0%;
    font-size: 55px;
    margin-top: 45px;
    margin-bottom: 20px;

}

.button {
    background-color: #6c757d;
    font-size: 1.2rem;
    color: white;
    border: solid;
    border-radius: 10%;
    padding: 8px;


}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 5px;
}

.colorblanco {
    background-color: white;
}

.centrar {
    text-align: center;
}

.margen {
    margin: 10%;
}

.interlineado {
    line-height: 1.6;
}

.parallax {
    background-image: url("http://www.tennissolutions.com.ar/web/images/slideshow/slide-01.jpg");
    height: 360px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.imagenqs {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/193/186/572/tennis-rafael-nadal-spanish-hd-wallpaper-preview.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mapa {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding: 15px;
    margin: auto;
}

.cardimg {
    height: 250px;
    width: 100px;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

}

.cardh2 {
    color: black;
    font-size: 1rem;
    text-align: center;
}

a {
    color: black;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color:black;
}

@media screen and (max-width: 1024px) {

    .card {
        width: 25%;
        margin: 10px;
    }
}


@media screen and (max-width: 720px) {

    .card {
        width: 50%;
        margin: 10px;
    }

}